@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #abb2b9;
}
.diaplaydata{
  
  align-items: center;
  font-family: "Roboto", sans-serif;
}

